{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier", "flowtype"],  // apply prettier through ESLint
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "semi": true,
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "camelcase": 0,
    "consistent-return": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/no-render-return-value": 0,
    "react/require-default-props": 0,
    "strict": 0 // for babel-eslint
  },
  "globals": {
    "document": false,
    "fetch": false,
    "WebSocket": false
  }
}
